option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_URL: http://example.elasticbeanstalk.com
    APP_PORT: 8080
    MONGODB_URI: mongodb://localhost:27017/eass?tls=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false
    JWT_SECRET: V5HSCUaliyf3BX6UTefxRjkY7eUgxDWI
    SENDGRID_KEY: xxxxxxxxxxxxx
    REDIS_HOST: redis://localhost:6379
    DEFAULT_EMAIL_CLIENT: sendgrid
    AWS_ACCESS_KEY_ID: xxxxxxxxxxxxx
    AWS_SECRET_ACCESS_KEY: xxxxxxxxxxxxx
    AWS_DEFAULT_REGION: ap-northeast-1
