option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_URL: http://app-env-v3.eba-mbacrg8k.ap-southeast-1.elasticbeanstalk.com
    APP_PORT: 8080
    MONGODB_URI: mongodb://nadeeradocumentdb:na998743deer837483jlkrsd@app-db-public.cluster-capzd9fgxyee.ap-southeast-1.docdb.amazonaws.com:27017/myapp?tls=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false
    JWT_SECRET: V5HSCUaliyf3BX6UTefxRjkY7eUgxDWI
    SENDGRID_KEY: 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
    REDIS_HOST: redis://app-dev.6yuluw.ng.0001.apse1.cache.amazonaws.com:6379
    DEFAULT_EMAIL_CLIENT: sendgrid
    AWS_ACCESS_KEY_ID: 34983749387498347398
    AWS_SECRET_ACCESS_KEY: 39847kjhdkjhdf9837498374938479
    AWS_DEFAULT_REGION: ap-northeast-1
