option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start"
    NodeVersion: 14.17.3
  aws:elasticbeanstalk:application:environment:
    APP_ENV=development
    APP_URL=http://127.0.0.1:8081/
    APP_PORT=8081
    MONGODB_URI=mongodb+srv://documentdbuser:6St6$99TmRHm5@sandbox.lbu4r.mongodb.net/o2o-caas
    JWT_SECRET=V5HSCUaliyf3BX6UTefxRjkY7eUgxDWI
    SENDGRID_KEY=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
    REDIS_HOST=127.0.0.1
    REDIS_PASSWORD=
    REDIS_PORT=6379
    DEFAULT_EMAIL_CLIENT=sendgrid
    AWS_ACCESS_KEY_ID=
    AWS_SECRET_ACCESS_KEY=
    AWS_DEFAULT_REGION=ap-northeast-2
